/*styles for the body*/
body {
 
border:  3px solid black;

}
section  {
text-align: left;
clear: both;
}
/*styles for paragraph*/
aside p{



}
/*styles for h2*/
section h2 {
width: 950px;
clear: both;
text-align: center;
margin-left: 150px;

}
/* styles for div */
div h2 {
float: left;
}
  p {
margin-left: 450px;
}
/* Styles for h1-->*/
header h1 img {
height: 200px;
width: 200px;
border: 3px solid black;

}
table {
margin-top: 40px;
padding: 50px;
text-align: center;
margin-left: 320px;
}
table td, th {
border: 2px solid black;
width: 200px;
}
header h1 {
text-align: center;
}

header h2 {
color: black;
margin-left: 40px;
width: 350px;

}
 header nav ul li {
display: block;
list-style-type: none;
background-color: black;
float: left;
text-decoration: none;
color:white;
list-style: none;
padding-right: 20px;
padding-left: 20px;
width: 150px;
border: 2px solid black;

}

header nav a
	{
	text-decoration: none;
	}
header nav ul li:hover {
color:black;
background-color: red;
}
header nav ul li a {
color: white;
font-family: "Times New Roman", Times, serif;
list-style-type: none;

font-size: 26pt;
}
header nav ul li a {
font-size: 20px;
}
/*styles for body*/
body nav ul li {
color: black;
text-align: left;
margin-top:10px;
list-style: none;
width: 150px;

}
/*styles for aside*/
aside {
margin-top: 150px;
margin-right: 40px;
text-align: right;

}
aside blockquote p {
width: 150px;
text-align: right;
margin-right: 40px;
clear: both;
}
blockquote  {
text-align: right;
float: right;
}
/*vertical navigation list*/
 body #verNavClass li  {
color: green;
background-color: orange;
border: 1px solid black;
list-style-type: none;
clear:both;
float: left;


}
body #verNavClass li:hover {
color: red;
}
/*styles for footer*/
footer {
text-align:center;
margin-bottom:2px;
}
/*styles for section*/
section h1 {
margin-left: 50px;
padding: 50px;
}
section h2 {
text-align: left;
}
section h2 p {
text-align: left;
}
section aside ul {
margin-bottom: 40px;
}
/*styles for form*/
section form {
margin-top: 100px;
margin-left: 420px;
text-align: left;
padding: 30px;
}
section aside ul li {
margin-bottom: 40px;
margin-top: 20px;
}
/*styles for photos*/

footer address a {
text-decoration:none;
}
